.education-div {
    background-color: white;
    color: black;
    margin: 0;
    padding: 16px;
}

.education {
    padding: 16px;
}

.education-card {
    margin: auto;
    width: 70%;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 8px;
    width: 50%;
}