<div class="education-div">
    <div class="education">
        <mat-card class="education-card">
            <mat-card-title>Florida State University</mat-card-title>
            <mat-card-subtitle>Bachelor of Science in Information Technology (2012 - 2014)</mat-card-subtitle>
            <mat-card-content>
                <h2>Organizations</h2>
                <h3>Vice President of AITP (Association of Information Technology Professionals)</h3>
                <p>
                    While at FSU, I maintained the Vice President position for AITP at FSU. My duties
                    involved planning events, company visits, and running workshops. Some of the workshops 
                    I ran included Hosting a Website/Registering a Domain, Making a LAMP Stack on a Raspberry Pi, 
                    and Intro to Virtualization. Overall, these workshops have been a great success and in the hour we had, 
                    we were able to give an extensive overview of the subject at hand.
                </p>
                <h3>Member of STARS (Students & Technology in Academia, Research & Service)</h3>
                <p>
                    STARS was extremely beneficial to me in my final years of college. It gave me the opportunity to 
                    travel all over Florida and perform outreach at a wide range of schools. Some of the areas we've 
                    traveled to included Orlando, Panama City, Sebring, and Tampa. I even had the opportunity to go to 
                    Arlington, VA for the STARS National Conference in August '14. STARS also gave me the opportunity to teach 
                    iMovie and WordPress to Girl Scouts. I've attended the TSA (Technology Student Association) Leadership and State 
                    Conferences as well. At the TSA Leadership Conferences, we work to develop Middle and High School students into a 
                    cohesive and functional team. We find the prominent leaders through several exercises and utilize their 
                    strengths in our challenges when we compete against other teams. These experiences have been extremely beneficial 
                    and have led to much of my leadership skills.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    
    <div class="education">
        <mat-card class="education-card">
            <mat-card-title>Hillsborough Community College</mat-card-title>
            <mat-card-subtitle>Associate of Science in Computer Information Administrator (2009 - 2012)</mat-card-subtitle>
            <mat-card-content>
                My focus while attending HCC was on project management and IT (Information Technology) as a whole. 
                For my capstone, I worked on developing a project plan for a business to expand it's IT infrastructure to 
                allow growth and future employees to be able to become a part of the company with little to no impact. 
                The project plan including everything from necessary hardware to long term support and maintenance.
            </mat-card-content>
        </mat-card>
    </div>
</div>