.not-found-div {
    background-color: white;
    color: black;
    margin: 0;
    padding: 16px;
}

.not-found {
    margin: auto;
    padding: 16px;
    width: 70%;
    text-align: center;
}

.omegalul-emoji {
    font-size: 128px;
    line-height: 128px;
}

// Mobile specific CSS.
@media only screen and (max-width: 600px) {
    .not-found {
        width: 90%;
    }
}