<div class="experience-div">
    <div class="experience">
        <mat-card class="experience-card">
            <div class="row">
                <div class="column">
                    <h1>Google | New York, NY</h1>
                    <h3>Corporate Operations Engineer L4 (January 2015 – Present)</h3>
                    <h4>
                        My roles at Google consist primarily of doing internal support for Googlers and our 
                        infrastructure. I also work on a variety of tools to help automate processes/solutions.
                    </h4>
                    <ul class="mat-subheading-1">
                        <li>Developing internal tools for supporting Googlers</li>
                        <li>Performing repairs on various infrastructure</li>
                        <li>Developing solutions for operational issues via automation</li>
                        <li>Resolving software issues on a wide spectrum</li>
                        <li>Leading/assisting in various projects</li>
                    </ul>
                </div>
                <div class="column">
                    <img class="google-icon" src="assets/google.png">
                </div>
            </div>
        </mat-card>
    </div>
    <div class="experience">
        <mat-card class="experience-card">
            <div class="row">
                <div class="column">
                    <h1>Datamaxx Group | Tallahassee, FL</h1>
                    <h3>IT Intern (May 2014 – December 2014)</h3>
                    <h4>
                        My primary focus is to provide technical support to implement new systems and maintain 
                        these systems. I work with a wide range of Microsoft products and software such as Hyper-V, 
                        SQL Server, SCOM, and SharePoint.
                    </h4>
                    <ul class="mat-subheading-1">
                        <li>Built VM’s for employees to use legacy hardware/software</li>
                        <li>Implemented servers for production use</li>
                        <li>Setup physical servers and equipment</li>
                        <li>Provided general IT support to the employees</li>
                        <li>Implemented System Center Operation Manager for our production monitoring</li>
                    </ul>
                </div>
                <div class="column">
                    <img class="datamaxx-icon" src="assets/datamaxx.png">
                </div>
            </div>
        </mat-card>
    </div>
    <div class="experience">
        <mat-card class="experience-card">
            <div class="row">
                <div class="column">
                    <h1>HostHoarders | Tallahassee, FL</h1>
                    <h3>Owner, Manager (January 2012 – August 2014)</h3>
                    <h4>
                        I operated and maintained the company up until August 2014 when I sold the business. HostHoarders 
                        utilized OpenVZ and cPanel to offer VPS/Web hosting. Most of our systems ran on CentOS 6 and utilize 
                        virtualization technology to ensure stability and scalability. With several years of experience in the 
                        field, I began this company with the idea of offering a service at a fair and affordable price. Within 2 
                        years, I was able to develop a large client base with hundreds of clients all over the world.
                    </h4>
                    <ul class="mat-subheading-1">
                        <li>Provided cPanel hosting through an automated process</li>
                        <li>Implemented virtualized servers to utilize hardware</li>
                        <li>Developed custom hosting solutions for small businesses</li>
                        <li>Implemented security policies to prevent spam and malware</li>
                        <li>Provided services with flawless uptime and redundancy</li>
                    </ul>
                </div>
                <div class="column">
                    <img class="hosthoarders-icon" src="assets/hosthoarders.png">
                </div>
            </div>
        </mat-card>
    </div>
    <div class="experience">
        <mat-card class="experience-card">
            <div class="row">
                <div class="column">
                    <h1>BlueVM | Tallahassee, FL</h1>
                    <h3>Level 3 Technician (March 2013 – December 2013)</h3>
                    <h4>
                        At BlueVM, my primary focus was repairing virtualized servers and maintaining the physical nodes as-well. 
                        My job also focused on cPanel maintenance and repairs. I also worked with networking on a regular basis
                        to resolve potential network issues.
                    </h4>
                    <ul class="mat-subheading-1">
                        <li>Repaired virtual private servers</li>
                        <li>Provisioned new servers for virtualization</li>
                        <li>Worked with in-house developed hypervisor panels</li>
                        <li>Performed systems administration on 50+ nodes across the world</li>
                    </ul>
                </div>
                <div class="column">
                    <img class="bluevm-icon" src="assets/bluevm.png">
                </div>
            </div>
        </mat-card>
    </div>
</div>