.experience-div {
    background-color: white;
    color: black;
    margin: 0;
    padding: 16px;
}

.experience {
    padding: 16px;
    margin: auto;
    width: 70%;
    img {
        padding: 32px;
    }
}

.google-icon {
    margin-left: auto;
    max-width: 256px;
    max-height: 256px;
    overflow: hidden;
}

.datamaxx-icon {
    filter: invert(0.5);
    margin: auto 0 auto auto;
    overflow: hidden;
}

.hosthoarders-icon {
    margin: auto 0 auto auto;
    max-width: 256px;
    max-height: 256px;
    overflow: hidden;
}

.bluevm-icon {
    margin: auto 0 auto auto;
    max-width: 256px;
    max-height: 256px;
    overflow: hidden;
}

// Mobile specific CSS.
@media only screen and (max-width: 600px) {
    .experience {
        width: 90%;
    }
}