<div class="github-projects-div">
    <div class="github-projects">
        <h1>GitHub Projects</h1>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" *ngIf="!loading && !error">
            <mat-list>
                <a mat-list-item *ngFor="let project of gitHubProjects" [href]="project.html_url" target="_blank">
                    <mat-icon mat-list-icon>source</mat-icon>
                    <div mat-line>{{project.name}}</div>
                    <div mat-line>{{project.description ? project.description : 'No description available'}}</div>
                    <div mat-line>Last updated: {{project.updated_at | date}} </div>
                </a>
            </mat-list>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center center" *ngIf="loading && !error">
            <mat-progress-spinner mode="indeterminate" aria-label="Loading GitHub projects...">
            </mat-progress-spinner>
        </div>
        <div *ngIf="!loading && error">
           <p>
               Uh oh! Something went wrong when retrieving my GitHub Projects. The error has been shown 
               elow and in the console.
            </p> 

            <pre>{{error | json}}</pre>

            <p>
                In the meantime, you can visit my GitHub <a [href]="gitHubUrl" target="_blank">here</a>.
            </p>
        </div>
    </div>
</div>