.portfolio-div {
    background-color: white;
    color: black;
    margin: 0;
    padding: 16px;
}

.portfolio {
    padding: 16px;
}

.portfolio-card {
    margin: auto;
    width: 70%;
}

.no-overflow-img {
    overflow: hidden;
}