.portfolio-div {
    background-color: white;
    color: black;
    margin: 0;
    padding: 16px;
}

.portfolio {
    margin: auto;
    padding: 16px;
    width: 70%;
    img {
        overflow: hidden;
        padding: 32px;
    }
}