.outreach-div {
    background-color: white;
    color: black;
    margin: 0;
    padding: 16px;
}

.outreach {
    margin: auto;
    padding: 16px;
    width: 70%;
}

// Mobile specific CSS.
@media only screen and (max-width: 600px) {
    .outreach {
        width: 90%;
    }
}