<div class="outreach-div">
    <div class="outreach">
        <h1>Outreach</h1>
        <div>
            <h2>Involved in education</h2>
            <div fxLayout="column" fxLayoutGap="16px">
                <p fxLayout="row" fxLayout.xs="column">
                    Below are several events and activities I was involved with while attending FSU. Giving back to the 
                    community has been extremely important to me and it has helped with developing myself as a leader.
                </p>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="16px">
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/HawksRise.jpg" fxFill>
                        Physics Camp at Hawks Rise Elementary School
                    </div>
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/HawksRise1.jpg" fxFill>
                        Physics Camp at Hawks Rise Elementary School
                    </div>
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/HawksRise2.jpg" fxFill>
                        Physics Camp at Hawks Rise Elementary School
                    </div>
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/HawksRise3.jpg" fxFill>
                        Physics Camp at Hawks Rise Elementary School
                    </div>
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/iMovie1.jpg" fxFill>
                        Girl Scouts iMovie Camp
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="16px">
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/iMovie2.jpg" fxFill>
                        Girl Scouts iMovie Camp
                    </div>
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/PanamaCityVisit.jpg" fxFill>
                        Visting Panama City High Schools to talk about STEM
                    </div>
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/PanamaCityVisit2.jpg" fxFill>
                        Visting Panama City High Schools to talk about STEM
                    </div>
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/TSA13.jpg" fxFill>
                        TSA '13 Leadership Conference
                    </div>
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/TSA131.jpg" fxFill>
                        TSA '13 Leadership Conference
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h2>Mentions</h2>
            <div fxLayout="column" fxLayoutGap="16px">
                <p fxLayout="row" fxLayout.xs="column">
                    Being involved on and off campus has been extremely important to me. Below are some articles and videos that I was mentioned in while performing outreach at FSU.
                </p>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="16px">
                    <div fxLayout="column" fxFlex>
                        <a href="http://news.cci.fsu.edu/cci-news/from-startups-to-google-meet-ischool-alumnus-michael-helfrich/" 
                           target="_blank"
                           aria-label="Open article in a new tab.">
                            <img src="assets/images/MichaelHelfrichCCIFSU.png" fxFill>
                        </a>
                        From Startups to Google: Meet iSchool Alumnus Michael Helfrich
                    </div>
                    <div fxLayout="column" fxFlex>
                        <a href="http://news.cci.fsu.edu/cci-news/fsu-stars-alliance-wins-best-college-chapter-award/" 
                           target="_blank"
                           aria-label="Open article in a new tab.">
                            <img src="assets/images/STARS-Award.png" fxFill>
                        </a>
                        FSU STARS Alliance wins Best College Chapter Award
                    </div>
                    <div fxLayout="column" fxFlex>
                        <a href="https://www.youtube.com/watch?v=_nlibuk4igM" 
                           target="_blank"
                           aria-label="Open video in a new tab.">
                            <img src="assets/images/FITC.png" fxFill>   
                        </a>
                        FITC Career Alliance (Interview)
                    </div>
                    <div fxLayout="column" fxFlex>
                        <a href="http://news.cci.fsu.edu/cci-faculty/ischool-associate-professor-teaches-at-fsu-foundations-presidents-club-college/" 
                           target="_blank"
                           aria-label="Open article in a new tab.">
                            <img src="assets/images/Presidents-Club.jpg" fxFill>
                        </a>
                        iSchool associate professor teaches at FSU Foundation's Presidents Club College
                    </div>
                    <div fxLayout="column" fxFlex>
                        <a href="http://news.cci.fsu.edu/cci-news/cci-students-impress-at-digitech/" 
                           target="_blank"
                           aria-label="Open article in a new tab.">
                            <img src="assets/images/Digitech.jpg" fxFill>
                        </a>
                        CCI students impress at DIGITECH
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="16px" >
                    <div fxLayout="column" fxFlex>
                        <a href="http://news.cci.fsu.edu/cci-events/fsu-partners-with-girl-scouts-to-deliver-stem-training/" 
                           target="_blank"
                           aria-label="Open article in a new tab.">
                            <img src="assets/images/GS-STEM.jpg" fxFill>
                        </a>
                        FSU partners with Girl Scouts to deliver STEM training
                    </div>
                    <div fxLayout="column" fxFlex>
                        <a href="http://news.cci.fsu.edu/uncategorized/cci-students-partner-with-peers-from-fsu-physics-to-conduct-outreach-event/" 
                           target="_blank"
                           aria-label="Open article in a new tab.">
                            <img src="assets/images/Physics-Camp.jpg" fxFill>
                        </a>
                        CCI students partner with peers from FSU Physics to conduct outreach event
                    </div>
                    <div fxLayout="column" fxFlex>
                        <a href="http://news.cci.fsu.edu/cci-news/cci-hosts-girls-technology-camp-and-workshops/" 
                           target="_blank"
                           aria-label="Open article in a new tab.">
                            <img src="assets/images/Girlscouts.jpg" fxFill>
                        </a>
                        CCI hosts girls' technology camp and workshops as part of community outreach
                    </div>
                    <div fxLayout="column" fxFlex>
                        <a href="http://news.cci.fsu.edu/cci-news/fsu-stars-engages-future-generations-through-florida-technology-student-association/" 
                           target="_blank"
                           aria-label="Open article in a new tab.">
                            <img src="assets/images/STARS-Visit-TSA.jpg" fxFill>
                        </a>
                        FSU STARS engages future generations through partnership with Florida Technology Student Association
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h2>Awards/Honors</h2>
            <div fxLayout="column" fxLayoutGap="16px">
                <p fxLayout="row" fxLayout.xs="column">
                    Below are several of the awards/honors that I have received.
                </p>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="16px">
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/DeansAwardforInteractivePortfolio.png" fxFill>
                        Dean's Awards for Interactive Portfolios
                    </div>
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/StudentsChoiceforInteractivePortfolios.png" fxFill>
                        Student's Choice for Interactive Portfolios
                    </div>
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/AITPAcademicAchievement.png" fxFill>
                        AITP Academic Achievement
                    </div>
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/LeadershipinanFSUOrganizationSTARS.png" fxFill>
                        Leadership in an FSU Organization – STARS
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="16px">
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/LeadershipinanFSUOrganizationAITP.png" fxFill>
                        Leadership in an FSU Organization – AITP
                    </div>
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/ServicetotheCommunity.png" fxFill>
                        Service to the Community
                    </div>
                    <div fxLayout="column" fxFlex>
                        <img src="assets/images/STARS.png" fxFill>
                        STARS Poster Competition
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>