.app-styling {
    height: 100vh;
}

.navigation-toolbar {
    align-items: center;
    justify-content: center;
    position: sticky;
}

.logo {
    background-color: white;
    padding-left: 16px;
}