<div class="welcome-div">
    <div class="introduction">
        <img src="assets/me.png" class="welcome-image">
        <h1>HI, I'M MICHAEL HELFRICH</h1>
        <h4>
            I'm Michael <span class="mat-caption">(he/him)</span>. I'm a passionate IT professional 
            working on a variety of different challenges in my professional career at Google as well 
            as my own personal projects (like this website). At Google, I've worked on a variety of technologies such as
            <a href="https://g.co/grabandgo" target="_blank">Grab and Go</a>, 
            an automated/self-service loaner Chromebook program. I also maintain various internal 
            Chrome Apps and Extensions that enable Googlers to diagnose network connectivity problems 
            and improve insights/discovery for users. 
        </h4>
        <h4>
            I worked as a systems administrator for BlueVM and maintained their
            OpenVZ, QEMU KVM, and Xen Hypervisor servers. Additionally, I helped maintain our fleet of
            shared hosting servers (cPanel). I work heavily in projects utilizing Angular TypeScript, 
            App Engine (Python), and various other Google Cloud Product offerings. 
            I have experience with Java, Docker, Amazon Web Services, Backblaze, and many other technologies.
        </h4>
    </div>
    <div class="row centered-row">
        <a href="https://www.linkedin.com/in/helfrichmichael/" 
           aria-label="Open Michael's LinkedIn in a new tab"
           target="_blank">
            <img src="assets/linkedin.svg" alt="LinkedIn icon" class="connect-icon linkedin">
        </a>
        <a href="https://github.com/helfrichmichael/" 
           aria-label="Open Michael's GitHub in a new tab"
           target="_blank">
            <img src="assets/github.png" alt="GitHub icon" class="connect-icon github">
        </a>
        <a routerLink="/resume" 
           aria-label="Open Michael's Resume in a new tab"
           target="_blank">
            <img src="assets/resume.png" alt="Resume icon" class="connect-icon resume">
        </a>
    </div>
</div>
                