<div class="resume-div">
    <div class="resume">
        <mat-card class="resume-card">
            <mat-card-content>
                <object
                    data="assets/resume.pdf"
                    type="application/pdf"
                    class="resume-object">
                    <p>Your browser does not support PDFs.
                        <a href="assets/resume.pdf">Download the PDF</a>.</p>
                    </object>
            </mat-card-content>
        </mat-card>
    </div>
</div>