<div class="resume-div">
    <div class="resume">
    <h2>Résumé</h2>
    <div>
        <object
            data="assets/resume.pdf"
            type="application/pdf"
            class="resume-object">
            <p>Your browser does not support PDFs.</p>
                <p>
                    <a href="assets/resume.pdf" aria-label="Download Michael's Resume in a PDF">
                        Download my Résumé as a PDF
                    </a>
                </p>
            </object>
        </div>
    </div>
</div>