.resume-div {
    background-color: white;
    color: black;
    margin: 0;
    padding: 16px;
}

.resume {
    margin: auto;
    padding: 16px;
    width: 70%;
}

.resume-object {
    min-height: 900px;
    width: 100%;
}