<div class="resume-div">
    <div class="resume">
        <mat-card class="resume-card">
            <mat-card-title>Résumé</mat-card-title>
            <mat-card-content>
                <object
                    data="assets/resume.pdf"
                    type="application/pdf"
                    class="resume-object">
                    <p>Your browser does not support PDFs.</p>
                        <p>
                            <a href="assets/resume.pdf" aria-label="Download Michael's Resume in a PDF">
                                Download my Résumé as a PDF
                            </a>
                        </p>
                    </object>
            </mat-card-content>
        </mat-card>
    </div>
</div>