@use '~@angular/material' as mat;

@include mat.core();

// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
 )
));

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

// Remove the margins on the page for filling with white space, etc.
body {
  margin: 0;
}

a {
  color: mat.get-color-from-palette($dark-accent),
}

.centered-row {
    text-align: center;
    align-items: center;
    justify-content: center;
}